<!DOCTYPE html>
<html>
    <head>
        
        <title>Twitter clone</title>
    </head>
    <body>
        <h2>Twitter Clone</h2>
        <hr/>
        <header>
           
            <form id="getProfile">
                <button  type="submit">my profile</button>
            </form>
            <form id="writeTweet">
                <button  type="submit">Write tweet</button>
            </form>
            
            
            <form id="searchSomeoneButton">
                <button  type="submit">search for someone by username</button>
            </form>

            <form id="logout">
                <button  type="submit">logout</button>
            </form>
            <button onclick="location.href='/home'" type="button">
                timeline
            </button>
            
             
        </header>
        <hr/>

        <div id="timeline">
            {{#if timelineTweets}}
            <p>Timeline:-</p>
            <ul>
            {{!-- 
            In code below "each" interates over the "polls" property and 
            "this.name" refers to the property inside the array of objects
            --}}
                {{#each timelineTweets}}
                <li>{{>tweet}}</li>
                {{/each}}
            </ul>
            {{/if}}
        </div>

        <div id="profileDiv" style="display: none;">
            <p id="name"></p>
            <p id="username"></p>
            <p id="followerCount"></p>
            <p id="followingCount"></p>
            <p id="bio"></p>
            
            <form id="changePassButton">
                <button type="submit">change password</button>
            </form>
            <div id="changePassDiv" style="display: none;">
                <form id="changePassForm">
                    <input name="newPass" placeholder="type new password">
                    <button type="submit">change password!</button>
                </form>
                <p id="changePassResult"></p>
            </div>

            <form id="changeNameButton">
                <button type="submit">change name</button>
            </form>
             <div id="changeNameDiv" style="display: none;">
                <form id="changeNameForm">
                    <input name="newName" placeholder="type new name">
                    <button type="submit">change name!</button>
                </form>
                <p id="changeNameResult"></p>
            </div>

            <form id="changeUsernameButton">
                <button type="submit">change username</button>
            </form>
             <div id="changeUsernameDiv" style="display: none;">
                <form id="changeUsernameForm">
                    <input name="newUsername" placeholder="type new username">
                    <button type="submit">change username!</button>
                </form>
                <p id="changeUsernameResult"></p>
            </div>
            <form id="changeBioButton">
            <button type="submit">change bio</button>
            </form>
             <div id="changeBioDiv" style="display: none;">
                <form id="changeBioForm">
                    <input name="newBio" placeholder="type new bio">
                    <button type="submit">change bio!</button>
                </form>
                <p id="changeBioResult"></p>
            </div>

            {{#if followersList}}
            <p>Followers:-</p>
            <ul>
            {{!-- 
            In code below "each" interates over the "polls" property and 
            "this.name" refers to the property inside the array of objects
            --}}
                {{#each followersList}}
                <li>
                    <p>{{this.username}}</p>
                   <button onclick="location.href='/people/{{this.username}}' " type="button">
                          visit
                   </button>
                </li>
                {{/each}}
            </ul>
            {{/if}}

            {{#if followingList}}
            <p>Following:-</p>
            <ul>
            {{!-- 
            In code below "each" interates over the "polls" property and 
            "this.name" refers to the property inside the array of objects
            --}}
                {{#each followingList}}
                <li>
                    <p>{{this.username}}</p>
                   <button onclick="location.href='/people/{{this.username}}' " type="button">
                          visit
                   </button>
                </li>
                {{/each}}
            </ul>
            {{/if}}

            
        </div>

        <div id="writeTweetDiv" style="display: none;">
            <form id="writeTweetForm">
                <input name="tweet" placeholder="write anything!">
                <button type="submit">Post Tweet!</button>
            </form>
            <p id="tweetResult"></p>
        </div>

         <div id="searchSomeoneDiv" style="display: none;">
            <form id="searchSomeoneForm">
                <input name="username" placeholder="type the username..">
                <button type="submit">search</button>
            </form>
            <p id="searchResult"></p>
        </div>
    <script src="./js/client.js" defer></script>
    </body>
</html>