<!DOCTYPE html>
<html>
    <head>
        <title>Twitter clone</title>
    </head>
    <body>
        <h2>Twitter Clone</h2>
        <hr/>
        {{>homeheader}}
        <hr/>

        <div class="main-content">
            <p id="name"></p>
            <p id="followerCount"></p>
        </div>
    <script src="./js/client.js"></script>
    </body>
</html>