<!DOCTYPE html>
<html>
    <head>
        <title>Twitter clone</title>
    </head>
    <body>
        <h2>Twitter Clone</h2>
        <hr/>
        <header>
            <button onclick="location.href='/signup'" type="button">
                Signup
            </button>
            <button onclick="location.href='/login'" type="button">
                Login
            </button>
        </header>
        
        <hr/>

        
    </body>
</html>