<!DOCTYPE html>
<html>
    <head>
        <title>Twitter clone</title>
    </head>
    <body>
        <h2>Twitter Clone</h2>
        <hr/>
         <button onclick="location.href='/home'" type="button">
                home
        </button>
        <header>
           <p>Profile page</p>
        </header>
        
        <hr/>

        <div>
            
            <p>Name: {{name}}</p>
            <p>username: {{username}}</p>
            <p>followers: {{followerCount}}</p>
            <form class="followButton">

            <button>follow</button>
            </form>
            {{#if tweets}}
            <p>Tweets:-</p>
            <ul>
            {{!-- 
            In code below "each" interates over the "polls" property and 
            "this.name" refers to the property inside the array of objects
            --}}
                {{#each tweets}}
                <li>{{>tweet}}</li>
                {{/each}}
            </ul>
            {{/if}}
        </div>
        
        

        <script src="../js/client.js"></script>
    </body>
</html>