<!DOCTYPE html>
<html>
    <head>
        <title>Twitter clone</title>
    </head>
    <body>
        <h2>Twitter Clone</h2>
        <hr/>
        <hr/>
         <button onclick="location.href='/'" type="button">
                back
         </button>
        <form id="signupForm">
            <input name="name" placeholder="name">
            <input name="email" placeholder="email">
            <input name="password" placeholder="password">
            <button type="submit">Create Account!</button>
        </form>

        
        <script src="./js/client.js"></script>
    </body>
</html>