<header>
            <button onclick="location.href='/home/me'" type="button">
                my profile
            </button>
            <form id="getProfile">
                <button  type="submit">go to my profile</button>
            </form>
            
            <button type="submit">write tweet</button>
            <button type="submit">search for someone</button>
            <button type="submit">logout</button>

             <script src="./js/client.js"></script>
</header>