<p>{{this.text}}    ({{this.createdAt}})</p>

<form id="likeTweet">
    <p name='tweetID' style="display: none;">{{this._id}}</p>
   <button  type="submit">like</button>
</form>

<script src="../js/client.js"></script>